@CHARSET "ISO-8859-1";

body{
	background: #F1F7E2;
}
.list-view{
	top: 0px;
}
.logo img{
	position: fixed;
	left: 10px;
	width: 65px;
	z-index: 100;
}

.centermaindata{
	position:fixed;
	margin: 0 auto;
	overflow: auto;
	width: 100%;
	margin-left: 20px;
	margin-right:30px;
	top: 104px;
	bottom: 50px;
	z-index: -1;
	background: #F1F7E2;
}

.centermaindatauser{
	position:fixed;
	margin: 0 auto;
	overflow: auto;
	width: 100%;
	margin-left: 20px;
	top: 50px;
	bottom: 50px;
	z-index: -1;
	background: #F1F7E2;
}

li a{
	color: 	#202B30;
}
li a:hover{
	background: #4FA9B8;
	color: 	#202B30;
}

#enlaceespe{
	cursor: pointer;
	color: #74C0CF;
}
.desplegar:hover{
	cursor: pointer;
}
.infoEspecificaciones{
	width: 300px;
}

.rigthmenudata{
	position:absolute;
	margin: 0 auto;
	top: 50px;
	left: 100px;
	width: 80%;
	z-index: -1;
	background: #F1F7E2;
}
#sidebar h4{
	margin-top: 15px;
	width: 100px;
}
#sidebar ul{
	position:absolute;
	margin: 0 auto;
	top: 0px;
	left: 100px;
}
.loginpos{
	position:fixed;
	margin: 0 auto;
	top: 50px;
	left: 100px;
	width: 400px;
	overflow: hidden;
	z-index: -1;
}

div.portada{
	position:fixed;
	margin: 0 auto;
	top: 50px;
	overflow: hidden;
	width: 100%;
	bottom: 35px;
	z-index: -1;
	text-align: center;
	background: #F1F7E2;
}

div.portadaimg{
	background: #F1F7E2;
}


div.portadaimg img{
	width: 80%;
}

.summary{
	display: none;
}

.grid-view table.items th a {
	color: #30404E;
}

td.button-column a i{
	color: #30404E;
}

td.selected{
	background-color: #74C0CF;
}
.anyadirPeticion{
	width: 400px;
	
}
.imagenProducto{
	width: 250px;
	position: relative;
	left: 400px;
	top: -170px;
	border-radius: 5px;
}
.imagenProducto img{
	width: 500px;
}
.paneladmin{
	width: 90%;
}
.paneladmin a{
	color: 	#202B30;
}
.formulariosStyle{
	width: 400px;
}
.formulariosStyleAlta{
	width: 600px;
}
.texto{
	position: absolute;
	margin: 0 auto;
	top: 20%;
	left: 20%;
	right: 20%;
}
.texto p{
	position: absolute;
	margin: 0 auto;
	top: 20%;
	left: 20%;
	font-size: 20px;
	padding: 10px;
	border-radius:10px;
	background: #F1F7E2;
	opacity: 0.9;
}
.mostrarCliente{
	height: 300px;
	width: 95%;
	left: 100px;
	border:1px solid #4E7178;
	border-radius: 10px;
	background: #FFFFFF;
}
.infoProducto{
	position: relative;
	top: 20px;
	left: 100px;
	width: 200px;
}
h5.enlaceEspe{
	margin-top: 30px;
	margin-left:100px;
	top: 20px;
}
#desplegable{
	position: relative;
	top: 100px;
}

@media (max-width: 1199px){
	.centermaindatauser{
		top: 204px;
	}
	.centermaindata{
		top: 204px;
	}
	div.portada{
		top:104px;
	}
	.rigthmenudata{
		top: 154px;	
	}
	.loginpos{
		
		top: 154px;
	}
}

@media (max-width: 991px){
	.centermaindatauser{
		top: 204px;
	}.centermaindata{
		top: 204px;
	}
	.rigthmenudata{
		top: 204px;	
	}
	div.portada{
		top:204px;
	}
	.loginpos{
		
		top: 204px;
	}
}



@media (max-width: 535px){
	div.portada{
		bottom: 50px;
	}
}

