@CHARSET "ISO-8859-1";

body{
	background: #F1F7E2;
}
.list-view{
	top: 0px;
}
.centermaindata{
	position:fixed;
	margin: 0 auto;
	overflow: auto;
	width: 78%;
	margin-left: 20px;
	margin-right:20px;
	top: 50px;
	bottom: 50px;
	z-index: -1;
	background: #F1F7E2;
}
.centermaindatauser{
	position:fixed;
	margin: 0 auto;
	overflow: auto;
	width: 100%;
	margin-left: 20px;
	top: 50px;
	bottom: 50px;
	z-index: -1;
	background: #F1F7E2;
}

#enlaceespe{
	cursor: pointer;
	color: #74C0CF;
}
.desplegar:hover{
	cursor: pointer;
}
.infoEspecificaciones{
	width: 300px;
}

.rigthmenudata{
	position:absolute;
	margin: 0 auto;
	overflow: auto;
	top: 50px;
	right: 0%;
	width: 20%;
	z-index: -1;
	background: #F1F7E2;
}

.loginpos{
	top: 50px;
	z-index: -1;
}

div.portada{
	position:fixed;
	margin: 0 auto;
	top: 50px;
	overflow: hidden;
	width: 100%;
	bottom: 35px;
	z-index: -1;
	text-align: center;
	background: #F1F7E2;
}

div.portadaimg{
	background: #F1F7E2;
}


div.portadaimg img{
	width: 80%;
}

.summary{
	display: none;
}

.grid-view table.items th a {
	color: #30404E;
}

td.button-column a i{
	color: #30404E;
}

td.selected{
	background-color: #74C0CF;
}
.anyadirPeticion{
	width: 400px;
	
}

@media (max-width: 1199px){
	.centermaindata{
		top: 100px;
	}
	.rigthmenudata{
		top: 100px;	
	}
}

@media (max-width: 991px){
	.centermaindata{
		top: 100px;
	}
	.rigthmenudata{
		top: 100px;	
	}
}



@media (max-width: 535px){
	div.portada{
		bottom: 50px;
	}
}

