@CHARSET "ISO-8859-1";

.navbar-header a.navbar-brand,
.navbar-inverse .navbar-nav>li>a{
	color: #30404E;
}

nav.navbar{
	position:fixed;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	top: 0px;
	background: #74C0CF; 
	border-radius: 0px;
	color: #30404E;
	border: none;
}

.navbar-collapse .collapse .in,
nav .navbar-nav,
.navbar-header{
	z-index: 99;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus{
	color: #fff;
    background-color: #30404E;
}